PORT=5000
MONGODB_URI=mongodb+srv://fedmartsolutions_db_user:<Akol@Haron1985>@cluster02.vkmq4nr.mongodb.net/?appName=cluster02
JWT_SECRET=your_super_secret_jwt_key_here
AI_SERVICE_URL=http://localhost:5001
mongodb+srv://fedmartsolutions_db_user:<Akol@Haron1985>@cluster02.vkmq4nr.mongodb.net/?appName=cluster02